# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Generated Assets (not templates)
**.pdf
!DnDCharacterGenerator/assets/templates/**.pdf
